// Colors (from style-guide.md):
$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);
$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

// Font sizes:
// rem = pixel/16
$font-sm: 0.875rem; // 14 pixels
$font-med: 1.125rem; // 18 pixels
$font-lg: 1.25rem; // 20 pixels
$font-xlg: 3rem; // 48 pixels